samples/utility_flow_get_spo_library_from_teams/sourcecode/UtilsGetTeamsChannelLibraryInfo/src/CanvasApps/src/kk_readteamcontext_43ee8/pkgs/Wadl/GetTeamsChannelLibraryInfo.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://switzerland-001.azure-apihub.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetTeamsChannelLibraryInfo" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Get Teams Channel Library Info" />
  <grammars>
    <jsonTypes targetNamespace="https://switzerland-001.azure-apihub.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
      </object>
      <string name="ResponseActionOutput_folder_display_name_def" />
      <string name="ResponseActionOutput_folder_id_def" />
      <string name="ResponseActionOutput_folder_drive_id_def" />
      <string name="ResponseActionOutput_folder_absolute_url_def" />
      <string name="ResponseActionOutput_library_name_def" />
      <string name="ResponseActionOutput_library_title_def" />
      <string name="ResponseActionOutput_library_id_def" />
      <string name="ResponseActionOutput_library_drive_id_def" />
      <string name="ResponseActionOutput_library_absolute_url_def" />
      <string name="ResponseActionOutput_web_id_def" />
      <string name="ResponseActionOutput_site_id_def" />
      <string name="ResponseActionOutput_tenant_name_def" />
      <string name="ResponseActionOutput_team_id_def" />
      <string name="ResponseActionOutput_site_url_def" />
      <string name="ResponseActionOutput_site_title_def" />
      <object name="ResponseActionOutput">
        <property name="folder_display_name" type="string" />
        <property name="folder_id" type="string" />
        <property name="folder_drive_id" type="string" />
        <property name="folder_absolute_url" type="string" />
        <property name="library_name" type="string" />
        <property name="library_title" type="string" />
        <property name="library_id" type="string" />
        <property name="library_drive_id" type="string" />
        <property name="library_absolute_url" type="string" />
        <property name="web_id" type="string" />
        <property name="site_id" type="string" />
        <property name="tenant_name" type="string" />
        <property name="team_id" type="string" />
        <property name="site_url" type="string" />
        <property name="site_title" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://switzerland-001.azure-apihub.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="teamId" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="channelId" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>